.RecipePageMain__container {
    margin:auto;
    width:95%;
    white-space: pre-line;
}

.back-button {
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: 0;
    background: rgba(161, 161, 161, 1);
    color: rgba(44, 34, 87, 0.568);
}

.back-button:hover {
    background: rgba(161, 161, 161, 0.8);
    color: rgb(44, 34, 87);
    cursor: pointer;

}

.back-button:focus {
    border:0;
}

.fontawesome-back {
    /* opacity: 0.5; */
    font-size: 2rem;
}


