.RecipePageMain__container {
  white-space: pre-line;
}

.RecipePageMain__header {
  padding: 55px 30px 20px 30px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
}

.RecipePageMain__recipe-title {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0 auto;
}

.RecipePageMain__description-content {
  max-width: 400px;
  margin: 15px auto;
  text-align: center;
  color: #cfd8dc;
}

.RecipePageMain__container h1 {
  font-size: 1.8rem;
  font-weight: 100;
  margin: 0 auto;
}

.RecipePageMain__container h2 {
  font-size: 1.4rem;
  font-weight: 500;
}

.RecipePageMain__content-container {
  margin: 0 auto;
  max-width: 640px;
  padding: 0 10px;
}

.RecipePageMain__ingredients-title {
  margin-top: 0;
  padding-top: 40px;
}

.RecipePageMain__directions-title {
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  margin-top: 0;
  padding-top: 40px;
}

.RecipePageMain__directions-content,
.RecipePageMain__ingedients-content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 40px;
}

.RecipePageMain__btn-container {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.RecipePageMain__btn-container button {
  display: block;
}

.RecipePageMain__btn-container .delete-button {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 14px;
}

.RecipePageMain__flex-wrapper {
  display: flex;
  justify-content: flex-end;
}

.RecipePageMain__btn-container .delete-button:hover {
  cursor: pointer;
}

.RecipePageMain__btn-container .edit-button {
  background: #465b65;
  padding: 0.4375em 1.5em 0.5em;
  border: 1px solid gray;
  border: 0;
  border-radius: 1.5rem;
  font-size: 18px;
  transition-duration: 0.2s;
}

.RecipePageMain__btn-container .edit-button:hover,
.RecipePageMain__btn-container .edit-button:active {
  cursor: pointer;
  background: #455a64;
  color: #ffffff;
}

@media only screen and (min-width: 640px) {
  .RecipePageMain__container h1 {
    font-size: 2.5rem;
  }

  .RecipePageMain__container p {
    font-size: 1.15rem;
  }
}
