


.Login__login-form-container {
    margin: auto;
    margin-top: 20px;;
    width: 90%;
    max-width: 300px;
    /* border:1px solid black; */
}

.Login__login-form-container label,
.Login__login-form-container input {
    display: block;
}

.Login__login-form-container input {
    width: 100%;
}

.login-form-buttons-wrapper {
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
}



.demo-credentials {
    /* border:1px solid black; */
    margin-top: 10px;

}

.credential-wrapper {
    display: flex;
    justify-content: space-between;
    /* border:1px solid red; */
    margin-bottom: 4px;;
}

.credential-wrapper p {
    margin:0;
}

