.error-absolute {
  position: absolute;
}

.error-relative {
  position: relative;
}

.error-absolute,
.error-relative {
    background: lightgray;
    color: #cb2431;
    white-space: pre-wrap;
}

.ValidationError-wrapper {
  margin-top: 5px;

}
