.AddRecipe__add-recipe-container {
  margin: auto; 
  width: 90%;
}

#AddRecipe__add-recipe label,
#AddRecipe__add-recipe input,
#AddRecipe__add-recipe textarea {
  display: block;
  width: 100%;
}

#AddRecipe__add-recipe textarea {
  height: 3rem;
}

#AddRecipe__buttons-wrapper {
  margin-top:1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* maybe try to get nice looking dropdown if time */
/* #select-category option::-moz-focus-inner {
  background-color: bisque;
} */