.back-button {
  margin: 5px 0px 0px 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 0;
  position: absolute;
  background: rgba(161, 161, 161, 0);
z-index: 5;
  transition-duration: 0.2s;
}

.back-button:hover {
  background: rgba(161, 161, 161, 0);
  color: #212121;
  cursor: pointer;
}

.back-button:focus {
  border: 0;
}

.fontawesome-back {
  font-size: 1.4rem;
}
