/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&display=swap');
* {
  box-sizing: border-box;
  list-style: none;
  
}

/* why aren't things like this by default ??? */
html,body,#root,.App,main {     
  height:100%;
}



a {
  text-decoration: none;
  /* color: blue; */
}

/* a:visited {
  text-decoration: none;
} */

ul {
  margin:0;
  padding:0;
}


body {
  margin: 0;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Rubik', sans-serif; */
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Karla', sans-serif; */
  font-family: "Source Sans Pro",Times,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, .heading, label {
    font-family: 'Fira Sans', sans-serif;
}

.bottom-color-area  {
  height: 100%;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.btn {
  
}

.delete-button{
  color: #cb2431;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
